
h1 {
    color: peachpuff;
    position: center;
    
}

Body{
    background-color: rgba(159, 243, 195, 0.777);
    height: 1px;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
}
