
h1 {
    color: peachpuff;
    position: center;
}

h2 {color: aquamarine;
    position: center;
}

h3 { color:aqua
}

Body{
    background-color: rgba(154, 42, 185, 0.777);
    height: 1px;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section{
    display: flex;
    justify-content: space-between;
}

img{
    height: 300px;
    margin: 15px ;
}
.wrapper {
    display: block;
}


/*2nd Page*/

.title {
    text-align: center;
    background-color: rgba(38, 255, 132, 0.777);
}

.goals-text {
    width: 300px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.mood-question {
    width: 400px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.mood-boxes {
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

 .questions{
    margin-bottom: 15px;
    margin-left: 50px;
 }

 .submitBtn {
    margin-top: 25px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(109, 109, 109);
    border: none;
 }

 .submitBtn:hover {
    background-position: right center;
 }

 .submitBtn {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365);
 }


/*3rd page*/

.calendarBox {
    border: 1px solid black;
    display: block;
    height: 85px;
    text-align: center;
    margin: 4px;
    padding: 8px;
}

.weekBox {
    border: 1px solid black;
    display: inline-block;
    height: auto;
    text-align: center;
    margin: 0.5px;
}

.pure-g {
    margin-left: auto auto;
}

.center {
    justify-content: center; 
}

.boxElements {
    display: block;
    margin: 2px;
}

.moodHistory {
    text-align: center;
}